{% load static %}

{% for el in excl %}
    <div class="chair">
        <div class="chair-content">
            <p class="excl-text">{{ el.category.name }}</p>
            <h4 class="excl-h4">{{ el.name }}</h4>
            <p class="excl-p">{{ el.description }}</p>
            <img src="/media/{{ el.image }}" alt="{{ el.short_desc }}">
            <a class="excl-button button" href="#">order us
            <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
        </div>
    </div>
{% endfor %}
