{% load static %}
<div class="header clearfix">
    <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu clearfix">
        <li class="menu-list"><a href="{% url 'main' %}" 
            class="menu-link {% if request.resolver_match.url_name == 'main' %}menu-link-active{% endif %}">HOME</a></li>
        <li class="menu-list"><a href="{% url 'products:index' %}" 
            class="menu-link {% if request.resolver_match.namespace == 'products' %}menu-link-active{% endif %}">PRODUCTS</a></li>
        <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
        <li class="menu-list"><a href="/product-details/" class="menu-link">SHOWROOM</a></li>
        <li class="menu-list"><a href="{% url 'contact' %}" 
            class="menu-link {% if request.resolver_match.url_name == 'contact' %}menu-link-active{% endif %}">CONTACT</a></li>
        <li class="menu-list"><a href="#" class="menu-link"><img src="{% static '/img/search.svg' %}" alt="search"></a></li>
        {% if user.is_authenticated %}
        <li class="menu-list">
            <a class = "menu-link" href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'user' }}
            </a>
        </li>
        {% endif %}
        <li class="menu-list">
            {% if user.is_authenticated %}
                <a class="menu-link" href="{% url 'auth:logout' %}">logout</a>
            {% else %}
                <a class="menu-link" href="{% url 'auth:login' %}">login</a>
            {% endif %}
        </li>
        <li class="menu-list">
            <a href="{% url 'basket:view' %}" class="menu-link">
                <img src="{% static '/img/basket.png' %}" alt="basket">
                <span>
                    {% if basket %} {{ basket|length }} {% endif %}
                </span>
            </a>
        </li>
    </ul>
</div>
