<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>

<body>
    <div class="container">
        <div class="welcome padding-site clearfix">
                <div class="header-products clearfix">
                    <a href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                    <ul class="menu clearfix">
                        <li class="menu-list"><a href="/" class="menu-link">HOME</a></li>
                        <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                        <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
                        <li class="menu-list"><a href="/product-details/" class="menu-link">SHOWROOM</a></li>
                        <li class="menu-list"><a href="/contact/" class="menu-link  menu-link-active">CONTACT</a></li>
                        <li class="menu-list">
                            <a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a>
                        </li>
                    </ul>
                    <h2 class="h2-contact">Contact Us</h2>
                </div>
        </div>
        <div class="main-contact padding-site clearfix">
                <div class="contact-info1 contact-info">
                       <div class="info-block">
                           <img class="location-img" src="/static/img/location-image.jpg" alt="location-image.jpg"><br><br>
                            <h2 class="h2-country">california</h2>
                            <p class="contact-form">Phone:</p>
                            <p class="contact-data">1900 - 1234 -5678</p><br>
                            <p class="contact-form">Email:</p>
                            <p class="contact-data">info@interior.com</p><br>
                            <p class="contact-form">Address:</p>
                            <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                       </div>

                </div>
                <div class="contact-info2 contact-info">
                       <div class="info-block">
                           <img class="location-img" src="/static/img/location-image.jpg" alt="location-image.jpg"><br><br>
                            <h2 class="h2-country">california</h2>
                            <p class="contact-form">Phone:</p>
                            <p class="contact-data">1900 - 1234 -5678</p><br>
                            <p class="contact-form">Email:</p>
                            <p class="contact-data">info@interior.com</p><br>
                            <p class="contact-form">Address:</p>
                            <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                       </div>
                </div>
                <div class="contact-info3 contact-info">
                       <div class="info-block">
                           <img class="location-img" src="/static/img/location-image.jpg" alt="location-image.jpg"><br><br>
                            <h2 class="h2-country">california</h2>
                            <p class="contact-form">Phone:</p>
                            <p class="contact-data">1900 - 1234 -5678</p><br>
                            <p class="contact-form">Email:</p>
                            <p class="contact-data">info@interior.com</p><br>
                            <p class="contact-form">Address:</p>
                            <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                       </div>
                </div>
        </div>
        <div class="footer">
               <div class="footer-container">
                   <div class="footer-info1 footer-info">
                        <p class="contact-us">contact us</p><br>
                        <p class="contact-us-text">132A Bridge Road Richmond VIC<br> 
                            Australia.<br><br>Talk to us on 1300 132<br>info@interior.com</p>
                    </div>
                   <div class="footer-info2 footer-info">
                        <p class="useful-info">Useful Information</p><br>
                        
                            <p class="useful-info-text1">Sales terms<br>Customer care<br>Delivery</p>
                            <p class="useful-info-text2">Architect accounts<br>Careers<br>Exchanges & returns</p>
      
                        
                   </div>
                   <div class="footer-info3 footer-info">
                        <p class="in-touch">Let’s Stay in Touch!</p><br>
                        <p class="in-touch-text">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <input type="email" class="email-input" placeholder="your email address">
                        
                   </div>
                   <div class="bottom-footer">
                        <p class="copyright bottom-footer-info">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                        <p class="social bottom-footer-info"><img src="/static/img/social-links.png" alt=""></p>
                        <p class="terms bottom-footer-info">Terms Conditions/Privacy policy Cookies</p>
                   </div>
               </div>
        </div>
   </div>
</body>
</html>