{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}    
    <div class="slider padding-site clearfix">
        {% include 'mainapp/includes/inc_menu.html' %}
        <div class="slider-text clearfix">
            <p class="slider-trending">TRENDING</p>
            <h2 class="slider-h2">Fishnet Chair</h2>
            <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
            <a href="#" class="button">Order Us
            <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
        </div>
        <div class="pagination clearfix">
            <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="featured clearfix">
    <div class="featured-header padding-site clearfix">
            <div class="featured-menu-block"><a href="#" class="featured-link active-featured-link">Featured</a></div>
            <div class="featured-menu-block"><a href="#" class="new-link active-new-link">New</a></div>
            <ul class="explore-bar">
                <li class="explore-list"><a href="#" class="explore-link explore-all">explore all</a></li>
                <li class="explore-list"><a href="#" class="explore-link"><img src="{% static 'img/explore-arrow.svg' %}" alt="feautured-arrow"></a></li>
            </ul>
    </div>
    <div class="featured-content clearfix">
            <div class="featured-content-items clearfix"> 
                <div class="item-box first-box">
                    <div class="featured-box">
                        <a href="#" class="box-circle"><img class="box-arrow" src="{% static 'img/featured-box-arrow.svg' %}" alt="featured-circle"></a>
                        <h2 class="box-h2">Fishnet Chair</h2>
                        <p class ="box-text">Seat and back with upholstery made of cold cure foam</p>
                    </div> 
                </div>
                <div class="item-box second-box"></div>
                <div class="item-box third-box"></div>
                <div class="item-box fourth-box"></div>
            </div>
    </div> 
</div>

<div class="exclusive-products clearfix">
    {% include 'mainapp/includes/inc_exclusive.html' %}
</div>
<div class="trending-products padding-site clearfix">
    <div class="trending-header clearfix">
            <div class="trending-menu-block">Trending Products</div>
            <ul class="explore-bar">
                <li class="explore-list"><a href="#" class="explore-link explore-all">explore all</a></li>
                <li class="explore-list"><a href="#" class="explore-link"><img src="{% static 'img/explore-arrow.svg' %}" alt="feautured-arrow"></a></li>
            </ul>
    </div>
    <div class ="trending-content clearfix">
        <div class="trending-products-img"><img src="{% static 'img/trending-products-1.jpg' %}" alt="trending-products-1"></div>
        <div class="trending-products-img"><img src="{% static 'img/trending-products-2.jpg' %}" alt="trending-products-2"></div>
        <div class="trending-products-img"><img src="{% static 'img/trending-products-3.jpg' %}" alt="trending-products-3"></div>
        <div class="trending-products-img"><img src="{% static 'img/trending-products-4.jpg' %}" alt="trending-products-4"></div>
        <div class="trending-products-img"><img src="{% static 'img/trending-products-5.jpg' %}" alt="trending-products-5"></div>
        <div class="trending-products-img"><img src="{% static 'img/trending-products-6.jpg' %}" alt="trending-products-6"></div>
    </div>
</div>
<div class="hot-deal-slider  clearfix">
            <p class="hot-deal-text">hot deal</p>
            <h2 class="hot-deal-h2">fishnet chair</h2>
            <p class="hot-deal-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
            <a href="#" class="hot-button button">order us
            <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
            <div class="pagination hot-pagination clearfix">
                <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
            </div>
</div>
<div class="sm-container  padding-site clearfix">
    <div class="sm-box">
            <p class="sm-exclusvie">exclusive</p>
            <h2 class="sm-h2">fishnet chair</h2>
            <p class="sm-msg">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
            <a href="#" class="sm-button button">order us 
            <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
    </div>
    <div class="sm-img">
            <div class="sm-img1"><img src="{% static 'img/exclusive-sm-product1.jpg' %}" alt="sm-img1"></div>
            <div class="sm-img2"><img src="{% static 'img/exclusive-sm-product2.jpg' %}" alt="sm-img2"></div>
            <div class="sm-img3"><img src="{% static 'img/exclusive-sm-product3.jpg' %}" alt="sm-img3"></div>
            <div class="sm-img4"><img src="{% static 'img/exclusive-sm-product4.jpg' %}" alt="sm-img4"></div>

    </div>
</div>
<div class="mobile-app clearfix">
    <div class="mobile-app-block">
        <h2 class="mobile-text1">mobile app</h2>
        <h2 class="mobile-text2">Find. Follow.<br>Favorite.</h2>
        <h2 class="mobile-text3">Save your favorites and share your style.</h2>
        <a href="#" class="app-store"><img class="app-store-img" src="{% static 'img/app-store.jpg' %}" alt="app-store-img"></a>
        <a href="#" class="google-play"><img src="{% static 'img/google-play.jpg' %}" alt="google-play-img" class="google-play-img"></a>
    </div>
</div>
{% endblock %}
