<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="slider padding-site clearfix">
            <div class="header clearfix">
                <a href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                <ul class="menu clearfix">
                    <li class="menu-list"><a href="/" class="menu-link menu-link-active">HOME</a></li>
                    <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="/product-details/" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="/contact/" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider-text clearfix">
                <p class="slider-trending">TRENDING</p>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">Order Us
                <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
            </div>
            <div class="pagination clearfix">
                <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
            </div>
        </div>
        <div class="featured clearfix">
            <div class="featured-header padding-site clearfix">
                   <div class="featured-menu-block"><a href="#" class="featured-link active-featured-link">Featured</a></div>
                   <div class="featured-menu-block"><a href="#" class="new-link active-new-link">New</a></div>
                   <ul class="explore-bar">
                       <li class="explore-list"><a href="#" class="explore-link explore-all">explore all</a></li>
                       <li class="explore-list"><a href="#" class="explore-link"><img src="/static/img/explore-arrow.svg" alt="feautured-arrow"></a></li>
                   </ul>
            </div>
            <div class="featured-content clearfix">
                   <div class="featured-content-items clearfix"> 
                       <div class="item-box first-box">
                           <div class="featured-box">
                                <a href="#" class="featured-circle"><img class="featured-box-arrow" src="/static/img/featured-box-arrow.svg" alt="featured-circle"></a>
                                <h2 class="featured-box-h2">Fishnet Chair</h2>
                                <p class ="featured-box-text">Seat and back with upholstery made of cold cure foam</p>
                           </div> 
                       </div>
                       <div class="item-box second-box"></div>
                       <div class="item-box third-box"></div>
                       <div class="item-box fourth-box"></div>
                   </div>
            </div> 
        </div>
        <div class="exclusive-chairs clearfix">
            <div class="chair chair-1">
                <div class="chair-content">
                    <p class="excl-text">exclusive</p>
                    <h4 class="excl-h4">Fishnet Chair</h4>
                    <p class="excl-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p>
                    <a class="excl-button button" href="#">order us <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
                </div>
            </div>
            <div class="chair chair-2">
                <div class="chair-content">
                    <p class="excl-text">exclusive</p>
                    <h4 class="excl-h4">Fishnet Chair</h4>
                    <p class="excl-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a class="excl-button button" href="#">order us <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
                </div>
            </div>
       </div>
        <div class="trending-products padding-site clearfix">
            <div class="trending-header clearfix">
                   <div class="trending-menu-block">Trending Products</div>
                   <ul class="explore-bar">
                       <li class="explore-list"><a href="#" class="explore-link explore-all">explore all</a></li>
                       <li class="explore-list"><a href="#" class="explore-link"><img src="/static/img/explore-arrow.svg" alt="feautured-arrow"></a></li>
                   </ul>
            </div>
            <div class ="trending-content clearfix">
                <div class="trending-products-img"><img src="/static/img/trending-products-1.jpg" alt="trending-products-1"></div>
                <div class="trending-products-img"><img src="/static/img/trending-products-2.jpg" alt="trending-products-2"></div>
                <div class="trending-products-img"><img src="/static/img/trending-products-3.jpg" alt="trending-products-3"></div>
                <div class="trending-products-img"><img src="/static/img/trending-products-4.jpg" alt="trending-products-4"></div>
                <div class="trending-products-img"><img src="/static/img/trending-products-5.jpg" alt="trending-products-5"></div>
                <div class="trending-products-img"><img src="/static/img/trending-products-6.jpg" alt="trending-products-6"></div>
            </div>
        </div>
        <div class="hot-deal-slider  clearfix">
                  <p class="hot-deal-text">hot deal</p>
                  <h2 class="hot-deal-h2">fishnet chair</h2>
                  <p class="hot-deal-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                  <a href="#" class="hot-button button">order us
                  <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
                  <div class="pagination hot-pagination clearfix">
                       <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
                  </div>
        </div>
        <div class="sm-container  padding-site clearfix">
            <div class="sm-box">
                    <p class="sm-exclusvie">exclusive</p>
                    <h2 class="sm-h2">fishnet chair</h2>
                    <p class="sm-msg">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="sm-button button">order us 
                    <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
            </div>
            <div class="sm-img">
                 <div class="sm-img1"><img src="/static/img/exclusive-sm-product1.jpg" alt="sm-img1"></div>
                 <div class="sm-img2"><img src="/static/img/exclusive-sm-product2.jpg" alt="sm-img2"></div>
                 <div class="sm-img3"><img src="/static/img/exclusive-sm-product3.jpg" alt="sm-img3"></div>
                 <div class="sm-img4"><img src="/static/img/exclusive-sm-product4.jpg" alt="sm-img4"></div>

            </div>
        </div>
        <div class="mobile-app clearfix">
            <div class="mobile-app-block">
                <h2 class="mobile-text1">mobile app</h2>
                <h2 class="mobile-text2">Find. Follow.<br>Favorite.</h2>
                <h2 class="mobile-text3">Save your favorites and share your style.</h2>
                <a href="#" class="app-store"><img class="app-store-img" src="/static/img/app-store.jpg" alt="app-store-img"></a>
                <a href="#" class="google-play"><img src="/static/img/google-play.jpg" alt="google-play-img" class="google-play-img"></a>
            </div>
        </div>
        <div class="footer">
               <div class="footer-container">
                   <div class="footer-info1 footer-info">
                        <p class="contact-us">contact us</p><br>
                        <p class="contact-us-text">132A Bridge Road Richmond VIC<br> 
                            Australia.<br><br>Talk to us on 1300 132<br>info@interior.com</p>
                    </div>
                   <div class="footer-info2 footer-info">
                        <p class="useful-info">Useful Information</p><br>
                        
                            <p class="useful-info-text1">Sales terms<br>Customer care<br>Delivery</p>
                            <p class="useful-info-text2">Architect accounts<br>Careers<br>Exchanges & returns</p>
      
                        
                   </div>
                   <div class="footer-info3 footer-info">
                        <p class="in-touch">Let’s Stay in Touch!</p><br>
                        <p class="in-touch-text">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <input type="email" class="email-input" placeholder="your email address">
                        
                   </div>
                   <div class="bottom-footer">
                        <p class="copyright bottom-footer-info">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                        <p class="social bottom-footer-info"><img src="/static/img/social-links.png" alt=""></p>
                        <p class="terms bottom-footer-info">Terms Conditions/Privacy policy Cookies</p>
                   </div>
               </div>
        </div>
    </div>
    
</body>
</html>