<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Products</title>
</head>
<body>
   <div class="container">
       <div class="welcome padding-site clearfix">
           <div class="header-products clearfix">
                <a href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                <ul class="menu clearfix">
                    <li class="menu-list"><a href="/" class="menu-link">HOME</a></li>
                    <li class="menu-list"><a href="/products/" class="menu-link menu-link-active">PRODUCTS</a></li>
                    <li class="menu-list"><a href="/history/" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="/product-details/" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="/contact/" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
                </ul>
                <h2 class="h2-welcome">Our Products Range</h2>
            </div>
       </div>
       <div class="nav-menu padding-site clearfix">
             <div class="nav-menu-header clearfix">
                    <ul class="nav-menu-ul">
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link nav-active">All</a></li>       
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link">HOME</a></li>     
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link">OFFICE</a></li>     
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link">FURNITURE</a></li>     
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link">MODERN</a></li>     
                       <li class="nav-menu-list"><a href="#" class="nav-menu-link">CLASSIC</a></li>
                   </ul>
             </div>
             <div class="underlines clearfix">
                <img class="active-img" src="/static/img/active.svg" alt="active.svg">
                <img class="strock-img" src="/static/img/strock.svg" alt="strock.svg">
             </div>
       </div>
       <div class="main clearfix">
            <div class="img-products"><img src="/static/img/product1.jpg" alt="product1.jpg"></div>
            <div class="img-products"><img src="/static/img/product2.jpg" alt="product2.jpg"></div>
            <div class="img-products"><img src="/static/img/product3.jpg" alt="product3.jpg"></div>
            <div class="img-products"><img src="/static/img/product4.jpg" alt="product4.jpg"></div>
            <div class="img-products"><img src="/static/img/product5.jpg" alt="product5.jpg"></div>
            <div class="img-products"><img src="/static/img/product6.jpg" alt="product6.jpg"></div>
            <div class="img-products"><img src="/static/img/product7.jpg" alt="product7.jpg"></div>
            <div class="img-products"><img src="/static/img/product8.jpg" alt="product8.jpg"></div>
            <div class="img-products"><img src="/static/img/product9.jpg" alt="product9.jpg"></div>
            <div class="img-products"><img src="/static/img/product10.jpg" alt="product10.jpg"></div>
            <div class="img-products"><img src="/static/img/product11.jpg" alt="product11.jpg"></div>
            <div class="img-products"><img src="/static/img/product12.jpg" alt="product12.jpg"></div>
       </div>
       <div class="refresh padding-site clearfix">
            <div class="refresh-site"><a href="products/">
             <img src="/static/img/refresh.jpg" alt="refresh.jpg" class="refresh-button"></a>
            </div>
       </div>
       <div class="exclusive-chairs-products clearfix">
            <div class="chair chair-1">
                <div class="chair-content">
                    <p class="excl-text">exclusive</p>
                    <h4 class="excl-h4">Fishnet Chair</h4>
                    <p class="excl-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p>
                    <a class="excl-button button" href="#">order us
                    <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
                </div>
            </div>
            <div class="chair chair-2">
                <div class="chair-content">
                    <p class="excl-text">exclusive</p>
                    <h4 class="excl-h4">Fishnet Chair</h4>
                    <p class="excl-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a class="excl-button button" href="#" >
                    order us <img src="/static/img/arrow.svg" alt="arrow.svg"></a>
                </div>
            </div>
       </div>
       <div class="footer">
               <div class="footer-container">
                   <div class="footer-info1 footer-info">
                        <p class="contact-us">contact us</p><br>
                        <p class="contact-us-text">132A Bridge Road Richmond VIC<br> 
                            Australia.<br><br>Talk to us on 1300 132<br>info@interior.com</p>
                    </div>
                   <div class="footer-info2 footer-info">
                        <p class="useful-info">Useful Information</p><br>
                        
                            <p class="useful-info-text1">Sales terms<br>Customer care<br>Delivery</p>
                            <p class="useful-info-text2">Architect accounts<br>Careers<br>Exchanges & returns</p>
      
                        
                   </div>
                   <div class="footer-info3 footer-info">
                        <p class="in-touch">Let’s Stay in Touch!</p><br>
                        <p class="in-touch-text">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                        <input type="email" class="email-input" placeholder="your email address">
                        
                   </div>
                   <div class="bottom-footer">
                        <p class="copyright bottom-footer-info">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                        <p class="social bottom-footer-info"><img src="/static/img/social-links.png" alt=""></p>
                        <p class="terms bottom-footer-info">Terms Conditions/Privacy policy Cookies</p>
                   </div>
               </div>
        </div>          
   </div>
</body>
</html>
